{% extends 'adminbase.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">MY PAGE</h1>
    </div>
    <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
{% endblock %}
