{% extends 'homebase.html.twig' %}

{% block title %}My Blogs{% endblock %}

{% block body %}



    <div class="container">
        <div class="row">

            {{ include('user/usermenu.html.twig') }}
            <div class="col-sm-6 col-md-7 col-md-pull-4">
                <br><br><br>
                My Blogs<br>








            </div>
        </div>
    </div>




{% endblock %}
