
{% extends 'homebase.html.twig' %}

{% block title %}{{ app.user.name }} Profile{% endblock %}
{% block body %}


    <div class="container">
    <div class="row">

        {{ include('user/usermenu.html.twig') }}
        <div class="col-sm-6 col-md-7 col-md-pull-4">
            <br><br><br>

                {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

        </div>
    </div>
    </div>




{% endblock %}